<%- include("header") -%>

<body>
  <h1 class="signup-chootor">Chootor</h1>
  <h1>It appears that email has already been registered</h1>
  <p>Please try again with another email :D</p>
</body>

<%- include("footer") -%>
