<%- include("header") -%>

<body>

  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="">Chootor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>

      <!-- Title -->
      <div class="row">
        <div class="col-lg-6">
          <h1 class="title-heading">Find the right tutor for you.</h1>
          <a href="/login"><button type="button" class="btn btn-dark btn-lg">Login</button></a>
        </div>

        <div class="col-lg-6">
          <img class="bulb" src="images/light-bulb.png" alt="ligh-bulb-photo">
        </div>
      </div>
    </div>

  </section>

  <!-- Features -->

  <section id="features">
    <div class="row">
      <div class="col-lg-4">
        <h3 class="feature-description"><i class="fas fa-check-circle feature-icon"></i><br>Easy to use.</h3>
        <p>So easy to use, child friendly UI.</p>
      </div>
      <div class="col-lg-4">
        <h3 class="feature-description"><i class="fas fa-bullseye feature-icon"></i><br>Elite Clientele</h3>
        <p>Look for tutors based on your subject.</p>
      </div>
      <div class="col-lg-4">
        <h3 class="feature-description"><i class="fas fa-chalkboard-teacher feature-icon"></i></i><br>Guaranteed to work.</h3>
        <p>See the tutors around you.</p>
      </div>
    </div>
  </section>

  <%- include("footer") -%>
